@import "~src/style/_variables";

.btn {

    font-family: 'Lunchtype';
    @include pxtoem(14, 18);

    width: 175px;
    height: 50px;
    border-radius: 50px;

    text-align: center;
    text-decoration: none;

    color: white;
    background-color: $rouge;

    @include not-phones {

      width: 280px;
      height: 80px;
      
    }

  }