@import "~src/style/_variables";

#top {

    @include pxtoem(24, 36);

    line-height: 1.56;
    letter-spacing: 2px;
    
    .column {

        &:nth-child(1) {
            p {
                &:nth-child(1) span {
                    color: $grape;
                }
                &:nth-child(2) span {
                    color: $rouge;                    
                }
            }
            @include phones {
                padding-bottom: 0;
            }
        }
        &:nth-child(2) {
            p {
                &:nth-child(1) span {
                    color: $marigold;
                }
                &:nth-child(2) span {
                    color: $grape;                    
                }
            }
            @include phones {
                padding-top: 0;
                p:nth-child(1) {
                    margin-top: 0;
                }
            }
        }

        span {
            text-transform: uppercase;
        }

    }
}

#partners {

    .partner {
        margin-top: 7%;
        
        @include phones {
            flex-direction: column-reverse;
        }

        h2 {
            text-transform: capitalize;
            text-align: left;
            margin: 0;
            padding-top: 0;
        }

        strong {
            @include pxtoem(14, 18);

            font-stretch: expanded;
            line-height: 1.33;
            letter-spacing: 2px;
        }

        .bleed {
            display: grid;
            align-content: flex-start;
        }

        .text {
            position: relative;
            align-self: flex-end;
            background-color: $marigold;

            padding: 3%;

            a,
            a:visited {
                color: black;
            }
        }

        .odd {
            display: flex;
            justify-content: flex-end;
        }

        ::ng-deep cl-image {
            display: grid;
        }

        ::ng-deep img {
            border: solid 4px $marigold;
        }

        &:nth-child(1n+2) {
            .text {
                background-color: $marigold;
            }
        }

        &:nth-child(2n+2) {
            .text {
                background-color: $light-pink;
            }

            ::ng-deep img {
                border-color: $light-pink;
            }
        }

        @include not-phones {
            &:nth-child(even) {
                flex-direction: row-reverse
            }
        }
    }
}