@import "~src/style/_variables";

#top {
    background-color: $rouge;
    color: white;

    #tagline {
        padding-left: 5%;
    }
}

#right {
    padding-top: 0;
    padding-bottom: 0;

    @include phones {
        padding-left: 0;
    }
    
    .btn {
    
        @include pxtoem(24, 48);
    
        width: 100%;
        height: 200px;
    
        flex-direction: row;
        text-align: center;
    
        border: solid 4px $rouge;
        border-top-width: 2px;
        cursor: pointer;
    
        @include phones {
            height: 100px;
        }
    
        a {
    
            height: 100%;
            line-height: 1.21;
            letter-spacing: 2px;
            text-decoration: none;
            color: $rouge;
    
            background-image: linear-gradient(to bottom, $rouge 1%, #ffffff 1%, #ffffff 100%);
            background-size: 100% 100%;
    
            @include transition(all, .3s, ease-out);

            svg {
                margin-left: 4%;
            }
    
            svg path {
                @include transition(all, .3s, ease-out);
            }
    
            @include phones {
                svg {
                    @include scale(.5);
                }
            }
    
        }
    
        &:hover a {
            background-size: 100% 10000%;
            color: white;
    
            svg path {
                stroke: white;
            }
        }
    }
}

.left {

    @include pxtoem(18, 24);

    line-height: 1.42;
    letter-spacing: 2px;

}

.lunch-reg {
    @include pxtoem(12, 14);

    line-height: 1.29;
}

#explorer {

    h5 {
        font-stretch: expanded;
        line-height: 1.33;
        letter-spacing: 2px;
        color: $grape;
    }

    #steps {
        .column {
            text-align: center;
            width: 31%;

            @include phones {
                width: 50%;
            }

            &.space-grotesk-semi {
                @include pxtoem(18, 24);

                line-height: 1.42;
                letter-spacing: 2px;
                color: $rouge;
            }
        }

        p {
            text-align: left;

            @include pxtoem(14, 18);
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: 2px;
        }

        strong {
            @include pxtoem(48, 72);

            letter-spacing: 2px;
            color: $rouge;

        }
    }
}

#partners {

    .partner {
        @include phones {
            flex-direction: column-reverse;
        }

        h2 {
            text-transform: capitalize;
            text-align: left;
            margin: 0;
            padding-top: 0;
        }

        strong {
            @include pxtoem(14, 18);

            font-stretch: expanded;
            line-height: 1.33;
            letter-spacing: 2px;
        }

        .bleed {
            display: grid;
        }

        .text {
            position: relative;
            align-self: flex-end;
            background-color: $marigold;

            padding: 3%;

            a,
            a:visited {
                color: black;
            }
        }

        ::ng-deep cl-image {
            display: grid;
        }

        ::ng-deep img {
            border: solid 4px $marigold;
        }

        &:nth-child(1n+2) {
            .text {
                background-color: $marigold;
            }
        }

        &:nth-child(2n+2) {
            .text {
                background-color: $light-pink;
            }

            ::ng-deep img {
                border-color: $light-pink;
            }
        }

        @include not-phones {
            &:nth-child(even) {
                flex-direction: row-reverse
            }
        }
    }
}

#end {
    p {
        &:nth-child(1) {
            @include pxtoem(18, 24);
            font-stretch: expanded;
            line-height: 1.29;
            letter-spacing: 2px;
        }
        &:nth-child(2) {
            @include pxtoem(12, 14);
            line-height: 1.42;
        }
        &:nth-child(3) {
            @include pxtoem(14, 18);
            line-height: 1.33;
        }
    }

    .column:nth-child(2) {
        @include pxtoem(18, 24);
        color: $grape;

        line-height: 1.42;
        letter-spacing: 2px;
        text-align: center;
    }
}