@import '~src/style/_variables';

.right {
    
    .text {
        @include pxtoem(18, 24);
        
        position: relative;
        z-index: 2;

        background-color: $grape;
        align-self: flex-end;

        color: white;
        padding: 5%;

        line-height: 1.42;
        letter-spacing: 2px;
    }
}

#top {
    @include phones {
        display: flex;
        flex-direction: column-reverse;

    }

    #text {
        position: relative;
    
        display: flex;
        align-items: flex-end;
    }
    
    #map {
    
        position: relative;
    
        min-height: 700px;
        
        background-image: cdn-image('img/zones/map', c_fill, f_auto, w_1000);
        background-repeat: no-repeat;
        background-size: cover;
        
        border: solid 4px $grape;
        
        @include not-phones {
            right: 29%;
        }
        @include tablet-portrait {
            right: 50%;
            width: 96%;
        }
        @include phones {
            min-height: 563px;
            
            background-size: contain;
            background-image: cdn-image('img/zones/map-mobile', c_fill, f_auto, w_360);
        }
    
        #legend {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
    
            width: 380px;
    
            background-color: white;
    
            padding: 2% 2% 3%;
            
            @include phones {
                display: none;
            }
    
            span {
                display: flex;
                align-items: center;
    
                cursor: pointer;
    
                @include pxtoem(14, 18);
    
                font-stretch: expanded;
                line-height: 1.33;
                letter-spacing: 2px;
    
                padding-bottom: 4%;
                
                svg {
                    margin-right: 6%;
                }
                
                &:nth-child(1) {
                svg path {
                        stroke: $rouge;
                    }
                }
                &:nth-child(2) {
                    svg path {
                        stroke: $marigold;
                    }
                }
                &:nth-child(3) {
                    svg path {
                        stroke: $light-pink;
                    }
                }
            }
        }
    }
}

#zones {

   
    h3 {
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    p {
        @include pxtoem(14, 18);
      
        font-stretch: expanded;
        line-height: 1.33;
        letter-spacing: 2px;  
    }

    app-button {
        display: block;
        margin-top: 10%;
    }

    .columns {
        margin-top: 8%;

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include desktop {
                margin-left: 9%;
            }
            @include tablet-portrait {
                margin-left: 5%;
            }
        }
    }

}