<section class="container desktop">

  <div class="column is-11-mobile is-8-tablet">
    <h4>We don’t really know where this goes — and I’m not sure we really care.
    </h4>
  </div>

  <!-- EXPLORATION ZONES -->
  <h2>Exploration Zones</h2>

  <div id="photo" class="bleed columns column is-full" *ngIf="hasContent">

    <div class="column is-8">
      <cdn-image cloudinaryId="{{content.exampleImage.public_id}}" cloudinaryPrefix="/" width="900" [responsive]="true" autoFormat="true"
        alt="Exploration Zone example image">
      </cdn-image>
    </div>

    <div class="column right is-half">
        <div class="text space-grotesk-semi">
          The project has three Exploration Zones in three neighborhoods of Boston. These are the city blocks where you
          will be invited to experiment with the tech and judge how well it’s working for your neighborhood.
        </div>
    </div>
  </div>

  <div id="map">
    <div id="legend">
      
    </div>
  </div>

</section>