<div class="columns is-mobile is-multiline is-centered no-margin">

    <div class="column is-full-mobile is-5-tablet">
        <a class="link" routerLink="/about">About</a>
        <a class="link" routerLink="/getinvolved">Get Involved</a>
    </div>
    
    <div class="column is-full-mobile is-5-tablet">
        <a class="link" routerLink="/exhibit">Get to Know Exhibit</a>
        <a class="link" routerLink="/tech">Tech Explorers</a>
    </div>

</div>

<div id="info">
    <cdn-image cloudinaryId="img/logo" width="200" phoneWidth="160" svg="true" alt="Beta Blocks large logo"></cdn-image>
    <p>engagementlab@emerson.edu<br />

            120 Boylston St. Boston, MA 02116</p>
</div>