<!-- FOOTER -->
<!-- LINKS -->
<div id="links" class="columns is-mobile is-multiline is-centered no-margin">

    <div class="column is-11-mobile is-5-tablet">
        <a class="link" [class.active]="itemActive('about')" routerLink="/about" data-aos="fade-up">About</a>
        <a class="link" [class.active]="itemActive('discover')" routerLink="/discover" data-aos="fade-up" data-aos-offset="100">Discover Boston</a>
        <a class="link" [class.active]="itemActive('getinvolved')" routerLink="/getinvolved" data-aos="fade-up" data-aos-offset="200">Get Involved</a>
            
    </div>
    <div class="column is-11-mobile is-5-tablet">
        <a class="link" [class.active]="itemActive('exhibit')" routerLink="/exhibit" data-aos="fade-up">Get to Know Exhibit</a>
        <a class="link" [class.active]="itemActive('zones')" routerLink="/zones" data-aos="fade-up" data-aos-offset="100">Exploration Zones</a>
        <a class="link" [class.active]="itemActive('tech')" routerLink="/tech" data-aos="fade-up" data-aos-offset="200">Tech Partners</a>
    </div>

</div>

<div id="info">
    <div id="top">
    <cdn-image cloudinaryId="img/logo" width="200" phoneWidth="160" svg="true" alt="Beta Blocks large logo"></cdn-image>
    <cdn-image cloudinaryId="img/boston-seal" width="200" phoneWidth="160" svg="true" alt="City of Boston seal"></cdn-image>
</div>
    <p>160 Boylston St. Boston, MA 02116</p>

    <div id="logos">

        <a href="https://elab.emerson.edu">
            <cdn-image cloudinaryId="img/elab-logo" width="141" phoneWidth="70" svg="true" alt="Engagement Lab logo">
            </cdn-image>
        </a>
        <a href="https://www.supernormal.io">
            <cdn-image cloudinaryId="img/supernormal-logo" width="199" phoneWidth="100" svg="true"
                alt="Supernormal logo"></cdn-image>
        </a>
        <a href="https://www.boston.gov/departments/new-urban-mechanics">
            <cdn-image cloudinaryId="img/monum-logo" width="167" phoneWidth="84" svg="true"
                alt="Mayor's Office of New Urban Mechanics logo"></cdn-image>
        </a>

    </div>
</div>