<div class="columns is-mobile is-multiline">

    <div class="column is-full-mobile is-half-tablet">
        <a class="link" routerLink="/about">About</a>
        <a class="link" routerLink="/join">Join Tech Explorers</a>
        <a class="link" routerLink="/exhibit">Follow the Exhibit</a>
    </div>

    <div class="column is-full-mobile is-half-tablet">
        <a class="link" routerLink="/tech">Featured Technology</a>
        <a class="link" routerLink="/vendors">Tech Vendors</a>
        <a class="link" routerLink="/explorer">Data Explorer</a>
    </div>

</div>