// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

@import '_variables';

.marker {
    display: block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  