<cdn-image cloudinaryId="img/home/above-fold" width="1440" [responsive]="true" autoFormat="true" alt="Above-fold art">
</cdn-image>
<p id="tagline">A block-level experimentation zone that encourages communities to invent, adopt, and adapt technologies
  to improve their lives.</p>

<h2>About</h2>

<!-- ABOUT -->
<div id="about" class="bleed columns column is-full">

  <div class="column is-half">
    <cdn-image cloudinaryId="img/home/about" width="700" [responsive]="true" autoFormat="true" alt="'About' image">
    </cdn-image>
  </div>
  <div class="column is-half right">

    <div id="about-box" class="space-grotesk">
      <div class="text">
        <p>Just think about these things in your mind and drop em' on canvas. Get tough with it, get strong. A big strong
        tree needs big strong roots.</p>
      This is your world. Talent is a pursued interest. That is to say, anything you practice you can do. All kinds of
      happy little splashes. We're not trying to teach you a thing to copy. We're just here to teach you a technique,
      then let you loose into the world. If these lines aren't straight, your water's going to run right out of your
      painting and get your floor wet. With practice comes confidence. Put your feelings into it, your heart, it's your
      world. In this world, everything can be happy.
      </div>

      <div class="arrow pink">
        <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
          <path stroke="#FFD7ED" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
        </svg>
      </div>
    </div>
  </div>
</div>

<h2>Events</h2>

<!-- EVENTS -->
<div id="events" class="bleed columns column is-full">

  <div class="column is-half">
    <cdn-image cloudinaryId="img/home/events" width="700" [responsive]="true" autoFormat="true" alt="'About' image">
    </cdn-image>
  </div>
  <div class="column is-half right">

    <div id="about-box" class="space-grotesk">
      <div class="text">
        <h3>
          <b>3/14</b>
           <br />
          With practice comes confidence.
        </h3>
        I thought today we would make a happy little stream that's just running through the woods here. Poor old tree.
      </div>

      <div class="arrow marigold">
        <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
          <path stroke="#FCBD0B" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- SIGNUP -->
<h2>Stay In the Loop</h2>
<h2 class="lower">Life is too short to be alone, too precious. Share it with a friend.
</h2>

<!-- Begin MailChimp Signup Form -->
<div id="newsletter">
    <form
        action="https://engagementgamelab.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=e9f56f4f4d"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
                <input type="email" placeholder="your email" name="EMAIL" class="required email" id="mce-EMAIL">
                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe"
                    class="button">
            </div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_8cb16e3042072f11cc0680d36_e9f56f4f4d" tabindex="-1" value=""></div>
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'MMERGE3';
        ftypes[3] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>