<cdn-image cloudinaryId="img/home/above-fold" width="1440" [responsive]="true" autoFormat="true" alt="Above-fold art">
</cdn-image>

<section id="offset" class="container desktop">

  <div id="tagline" class="column is-11-mobile is-10-tablet">
    <p>A block-level exploration zone where communities invent, adopt, and adapt technologies to improve their lives.
    </p>
  </div>

  <h2>About</h2>

  <!-- ABOUT -->
  <div id="about" class="bleed columns column is-11-tablet is-full-desktop">

    <div class="column is-half">
      <cdn-image cloudinaryId="img/home/about" width="700" [responsive]="true" autoFormat="true" alt="'About' image">
      </cdn-image>
    </div>
    <div class="column is-half right">

      <div id="about-box" class="space-grotesk">
        <div class="text">
          <p>Just think about these things in your mind and drop em' on canvas. Get tough with it, get strong. A big
            strong
            tree needs big strong roots.</p>
        </div>

        <a routerLink="/about">
          <div class="arrow pink btn">
            <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
              <path stroke="#FFD7ED" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>

  <h2>Events</h2>

  <!-- EVENTS -->
  <div id="events" class="bleed columns column is-11-tablet is-full-desktop is-multiline">

    <div class="column is-12-tablet is-8-desktop left" *ngIf="!isPhone">

      <div id="events-box" class="space-grotesk text">
        <div class="columns">
          <h3 class="column is-one-quarter">
            <b>3/14</b>
          </h3>
          <div class="column">
            <h3>With practice comes confidence.</h3>
            I thought today we would make a happy little stream that's just running through the woods here. Poor old
            tree.
          </div>
        </div>
        <div class="columns">
          <h3 class="column is-one-quarter">
            <b>4/11</b>
          </h3>
          <div class="column">
            <h3>With practice comes confidence.</h3>
            I thought today we would make a happy little stream that's just running through the woods here. Poor old
            tree.
          </div>
        </div>
      </div>

      <a routerLink="/events">
        <div class="arrow marigold btn">
          <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
            <path stroke="#FCBD0B" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
          </svg>
        </div>
      </a>
    </div>
    <div id="photo" class="column is-10-tablet is-offset-2-tablet">
      <cdn-image cloudinaryId="img/home/events" width="700" [responsive]="true" autoFormat="true" alt="'About' image">
      </cdn-image>
    </div>

    <div class="column is-full-mobile" *ngIf="isPhone">

      <div id="events-box" class="space-grotesk text">
        <h3 class="column is-one-quarter">
          <b>3/14</b><br />
          With practice comes confidence.
        </h3>
        I thought today we would make a happy little stream that's just running through the woods here. Poor old tree.
        <h3 class="column is-one-quarter">
          <b>4/11</b><br />
          With practice comes confidence.
        </h3>
        I thought today we would make a happy little stream that's just running through the woods here. Poor old tree.
      </div>

      <a routerLink="/events">
        <div class="arrow marigold">
          <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
            <path stroke="#FCBD0B" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
          </svg>
        </div>
      </a>
    </div>
  </div>

  <!-- LOCATION -->
  <h2>Exhibit Location</h2>
  <div id="exhibit" class="columns column is-11-mobile is-multiline is-mobile no-margin">
    <!-- Tablet+ -->
    <div class="column is-half location" *ngIf="!isPhone">

      <h2 class="lower">The exhibit is now in . . .</h2>
      <svg fill="none" viewBox="0 0 500 80"><text x="0%" y="98%">Chinatown</text></svg>

      <app-button route="/getinvolved" label="view more info"></app-button>

    </div>

    <!-- Map -->
    <div class="column is-11-mobile">
      <svg id="circle-purple" width="116" height="116" fill="none" viewBox="0 0 116 116">
        <path fill="#402B59" d="M58 116c32.032 0 58-25.968 58-58S90.032 0 58 0 0 25.968 0 58s25.968 58 58 58z" />
      </svg>
      <cdn-image id="map" cloudinaryId="img/home/boston-map" width="600" [responsive]="true" autoFormat="true"
        alt="Boston map">
      </cdn-image>

      <svg id="squiggle" width="168" height="88" fill="none" viewBox="0 0 168 88">
        <path stroke="#FFD7ED" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"
          d="M161.975 6.025c-14.895 8.755-21.843-3.001-36.737 5.753-14.895 8.755-8.003 20.35-22.897 29.104-14.895 8.755-21.843-3-36.737 5.754-14.895 8.754-8.002 20.35-22.897 29.104-14.895 8.754-21.787-2.841-36.682 5.913" />
      </svg>
      <svg id="circle-red" width="78" height="78" fill="none" viewBox="0 0 78 78">
        <path fill="#B5191D" d="M39 78c21.54 0 39-17.46 39-39S60.54 0 39 0 0 17.46 0 39s17.46 39 39 39z" />
      </svg>
      <svg id="circle-yellow" width="127" height="128" fill="none" viewBox="0 0 127 128">
        <path stroke="#FCBD0B" stroke-miterlimit="10" stroke-width="12"
          d="M63.5 122c31.756 0 57.5-25.968 57.5-58S95.256 6 63.5 6 6 31.968 6 64s25.744 58 57.5 58z" />
      </svg>

    </div>

    <!-- Phones -->
    <div class="column is-11-mobile location" *ngIf="isPhone">

      <h2 class="lower">The exhibit is now in . . .</h2>
      <svg width="500" height="80" fill="none" viewBox="0 0 500 80"><text x="0" y="98%">Chinatown</text></svg>

      <app-button route="/getinvolved" label="view more info" class="center-all"></app-button>

    </div>
  </div>

  <!-- SIGNUP -->
  <h2>Stay In the Loop</h2>
  <h2 class="cap">Life is too short to be alone, too precious. Share it with a friend.
  </h2>

  <!-- Begin MailChimp Signup Form -->
  <!-- <div id="newsletter">
    <form
      action="https://engagementgamelab.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=e9f56f4f4d"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <input type="email" placeholder="your email" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_8cb16e3042072f11cc0680d36_e9f56f4f4d" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'MMERGE3';
      ftypes[3] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script> -->

  <!-- SOCIAL -->
  <div
    class="columns column is-full-mobile is-8-tablet is-offset-4-tablet is-half-desktop is-offset-half-desktop is-mobile" id="social">
    <div class="column">
      <a class="link" href="">
        <h2 class="cap">Visit the Boston.gov<br />Beta Blocks site</h2>
      </a>
    </div>
    <div class="column" id="logos">

      <a href="">
        <cdn-image cloudinaryPrefix="homepage-2.0/" cloudinaryId="logos/fb" width="28" phoneWidth="14" svg="true"
          alt="Facebook logo"></cdn-image>
      </a>
      <a href="">
        <cdn-image cloudinaryPrefix="homepage-2.0/" cloudinaryId="logos/ig" width="60" phoneWidth="30" svg="true"
          alt="Instagram logo"></cdn-image>
      </a>
      <a href="">
        <cdn-image cloudinaryPrefix="homepage-2.0/" cloudinaryId="logos/tw" width="73" phoneWidth="36" svg="true"
          alt="Twitter logo"></cdn-image>
      </a>

    </div>
  </div>

</section>