@import '~src/style/_variables';

#abovefold {

    ::ng-deep img {
        margin-top: -3%;
    }

}

#about {

    color: black;
    text-decoration: none;

}

#about-box {
    position: relative;
    align-self: center;

    .text {

        background-color: $light-pink;
        padding: 5%;

        @include pxtoem(18, 24);

        @include desktop {
            @include translate(-25%, 0);
        }

        @include not-desktop {
            @include translate(0, 0);
        }

    }

}

#getinvolved {

    color: black;
    text-decoration: none;

    @include phones {
        display: flex;
        flex-direction: column-reverse;
    }

    .text {
        position: relative;
        z-index: 2;
        background-color: $marigold;

        padding: 4%;

        @include phones {
            padding: 8%;
        }

        p {
            @include pxtoem(18, 24);
            line-height: 1.42;
            letter-spacing: 2px;
        }

        svg {
            @include transition(transform, .3s, ease-out);
        }

        .right {
            display: flex;
            align-items: center;
        }
    }

    #events-box {
        @include not-phones {
            display: flex;
            align-items: center;
            min-height: 380px;
        }
    }

    #photo {

        margin-top: -21.5%;
        margin-left: 15.7%;

        @include not-desktop {
            margin-top: 0;
            margin-left: 0;
        }

    }

    a {

        text-decoration: none;

        &:hover {
            svg {
                @include translate(20%);
            }
        }

    }

}

.arrow {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border: solid 4px;
    width: 100px;
    height: 100px;

    flex-shrink: 0;

    filter: drop-shadow(0 0 20px rgba(167, 123, 123, 0));
    @include transition(filter, .3s, ease-out);

    @include not-phones {
        border-left: none;
        width: 200px;
        height: 200px;
    }

    @include btnhover();

    svg {
        position: relative;
        width: 50%;
        margin-top: -54%;
        @include translate(0, -50%);
    }

    &::before {

        content: "";
        z-index: -1;

        display: block;
        width: 203px;
        height: 203px;

        transform-origin: center left;

        @include transform(scaleX(0));
        @include transition(transform, .3s, ease-out);

    }

    &:hover {
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));

        &::before {
            @include transform(scaleX(1));
        }
    }

    &.pink {
        border-color: $light-pink;

        &::before {
            background-color: $light-pink;
        }
    }

    &.marigold {
        border-color: $marigold;

        &::before {
            background-color: $marigold;
        }
    }
}

#exhibit {

    h2 {
        text-align: left;
    }

    app-button {
        ::ng-deep a {
            margin-top: 11%;
        }
    }

    .location {
        text-align: left;

        svg text {
            @include pxtoem(84, 72);
            fill: white;
            stroke-width: 4px;
            paint-order: stroke;
            stroke: $rouge;

            @include phones {
                stroke-width: 4px;
            }
        }

        svg {
            max-width: 100%;
        }
    }

    #map {
        position: relative;
        z-index: 4;
    }

    #shapes {
        position: absolute;
        z-index: 4;

        @include translate(0, -86%);

        @include phones {
            @include transform(scale(.7) translate(0, -86%));
        }

        @include not-desktop {

            #red,
            #yellow {
                @include translate(-40%, 0);
            }
        }

        @include phones {
            // #red, #yellow {
            //     @include translate(-40%, -40%);
            // }
        }
    }

    #circle-parent {
        position: relative;
        z-index: 5;

        #circle-purple {
            @include translate(5%, 65%);
        }
    }
}

#social {
    a {
        @include pxtoem(18, 24);

        color: black;
        text-decoration: none;

        // h2 {
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: left;

        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: 2px;

        @include transition(border, .3s, ease-in-out);
        // }

        &:hover {
            // h2 {
            border-color: black;
            border-bottom-width: 4px;
            // }
        }
    }
}

// MC Email form
#newsletter {

    input[type=email] {
        font-family: 'SpaceGrotesk-SemiBold';
        @include pxtoem(24, 48);
        color: white;
        border: none;

        background-color: $grape;

        flex: none;

        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;

        @include mq($until: 759px) {
            width: 95%;

        }

        @include mq($from: 760px) {
            width: 60%;
        }

        @include placeholder {
            font-family: 'SpaceGrotesk-SemiBold';
            color: rgba(255, 255, 255, .5);
        }
    }

    input[type=submit] {
        @include pxtoem(24, 48);
        background: none;

        color: rgba(64, 43, 89, .5);
        border: solid 4px rgba(64, 43, 89, .5);

        padding: 5%;
        width: 100%;

    }

    @include not-phones {
        .mc-field-group {
            display: flex;
        }
    }

}