<a href="http://bit.ly/beta-block-party" id="banner" *ngIf="onHome">
    <span>NEW!</span> Attend the Beta Blocks launch block party
    <svg width="26" height="26" fill="none" viewBox="0 0 52 52">
    <path stroke="#000" stroke-width="2" d="M25.285.715L50.57 26 25.285 51.285M0 25.942h50.538" />
    </svg>
</a>

<app-nav [kiosk]="isKiosk"></app-nav>

<router-outlet></router-outlet>

<app-footer [kiosk]="isKiosk"></app-footer>

<!-- QA Build Banner -->
<div *ngIf="isQABuild === true" id="qa-build"> 

    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1544209738/homepage-2.0/qa-build.svg" style="max-width:50px" alt="QA Build icon"/>
    <span id="text">QA BUILD</span>
    <div>Work in progress. Not intended for external use.</div>

</div>