<div class="columns">

  <div class="column is-half">

    <h2>What Tech Explorers Do</h2>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad

    <h2>Tech Exploration Zones</h2>
    [Map here]

  </div>
  <div class="column is-half">

    <h2>Sign up for updates!</h2>
    [Email field here]

    <h2>Ready to get started? Visit our workshop page and register for Tech Explorer Workshop</h2>
    [Link to workshop signups]

  </div>

</div>

<h1>
  Workshops
</h1>

<div class="columns">

    <div class="column is-half">
  
      <h2>Workshop Calendar</h2>
      <!-- [Calendar here] -->

    <div class="column is-half">
  
      <h2>Workshop Descriptions</h2>
      [Email field here]
  
    </div>
  
  </div>
  