<section class="container desktop">

  <!-- GET INVOLVED -->
  <h2 data-aos="fade">Get Involved</h2>

  <div class="columns" id="top">
    <div class="center-all column is-7" id="tagline" data-aos="fade-up">
      Community members are the heart of Beta Blocks.
    </div>

    <div class="center-all column is-full-mobile" id="right" data-aos="fade-left">

      <div class="arrow btn space-grotesk-semi">
        <a (click)="goToForm()" class="center-all">
          <div>Sign up</div>
          <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
            <path stroke="#B5191D" stroke-width="4" d="M107.584 53.084L54.5 106.17 1.416 53.084M54.5 0v106.103" />
          </svg>
        </a>
      </div>

    </div>
  </div>

  <div id="getinvolved" class="columns column is-full is-multiline">

    <div class="left column is-11-mobile is-5-tablet space-grotesk-semi" data-aos="fade-right">
      Communities know their blocks inside and out. Becoming a Zone Advisory Group member or a Youth Tech Explorer gives
      you the chance to question, test and evaluate new tech before it hits the streets.
    </div>
    <div class="right lunch-reg column is-full-mobile is-offset-1-tablet" data-aos="fade-right" data-aos-delay="500">
      <p class="lunch-med">Let's work together on the the future of your neighborhood.</p>
      As a Zone Advisory Group member or Youth Tech Explorer, you’ll also get to set up real life tech experiments in
      the public realm, attend an interorganizational community hackathon, and help to provide more substantive feedback
      about community values to the City of Boston.
    </div>

    <!-- <h5 class="lunch-reg column is-full center-all" data-aos="fade">Find out more about Tech Explorers below.</h5> -->

    <div id="steps" class="columns column is-full is-mobile is-multiline">
      <div class="column is-4-tablet lunch-med" *ngFor="let txt of stepTxt; let i = index;" data-aos="fade-up"
        [attr.data-aos-delay]="(i*300)">
        <!-- <h2>STEP</h2> -->
        <strong>{{i+1}}</strong>
        <br />

        <svg width="98" height="14" fill="none" viewBox="0 0 98 14">
          <path stroke="#FCBD0B" stroke-linecap="round" stroke-miterlimit="10" stroke-width="6"
            d="M94.971 10.24c-9.194 0-9.194-7.211-18.388-7.211-9.195 0-9.195 7.21-18.389 7.21C49 10.24 49 3.03 39.806 3.03s-9.194 7.21-18.389 7.21c-9.194 0-9.194-7.21-18.388-7.21" />
        </svg>
        <h5 class="space-grotesk-semi">{{txt[0]}}</h5>
        <p class="lunch-med">{{txt[1]}}<br /><br /><span>{{txt[2]}}</span></p>

      </div>
    </div>

  </div>

  <!-- SIGNUP -->
  <h2 id="form" data-aos="fade">Sign up to get involved!</h2>

  <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="userForm" (submit)="submitForm()"
    *ngIf="!received">

    <div class="fields">

      <div class="column is-full-mobile is-half-desktop" data-aos="fade-up" data-aos-delay="500">
        <input formControlName="firstName" id="firstName" placeholder="first name" required />
        <div *ngIf="submitted && f.firstName.invalid">Required.</div>
      </div>

      <div class="column is-full-mobile is-half-desktop" data-aos="fade-up" data-aos-delay="600">
        <input formControlName="lastName" id="lastName" placeholder="last name" required />
        <div *ngIf="submitted && f.lastName.invalid">Required.</div>
      </div>

    </div>

    <div class="column is-full-mobile is-full-tablet" data-aos="fade-up" data-aos-delay="800">
      <input formControlName="email" id="email" placeholder="email" class="full" required />
      <div *ngIf="submitted && f.email.invalid">
        <span *ngIf="f.email.errors.required">Required.</span>
        <span *ngIf="f.email.errors.email">Please enter a valid email address.</span>
      </div>
    </div>

    <div class="column is-full" data-aos="fade-up" data-aos-delay="1000">
      <label for="age" class="center-all">
        <input formControlName="age" type="checkbox" id="age" />
        <span class="checkmark"></span>I am 13 years of age or older.
      </label>

      <div *ngIf="submitted && f.age.invalid">
        <span *ngIf="f.age.errors.required || f.age.errors.requiredTrue">Please verify your age.</span>
      </div>
    </div>
    <div class="column is-full" data-aos="fade-up" data-aos-delay="1000">
      <p>I am interested in...</p>
      <label for="zone" class="center-all">
        <input formControlName="zone" type="checkbox" id="zone" />
        <span class="checkmark"></span>Zone Advisory Group
      </label>
      <label for="explorer" class="center-all">
        <input formControlName="explorer" type="checkbox" id="explorer" />
        <span class="checkmark"></span>Tech Explorers
      </label>
      <label for="tours" class="center-all">
        <input formControlName="tours" type="checkbox" id="tours" />
        <span class="checkmark"></span>Walking Tours
      </label>
    </div>

    <div class="fields">
      <div class="column is-full-mobile is-half-tablet">
        <p>{{formError}}</p>
      </div>
      <div class="column is-full-mobile" data-aos="fade-up" data-aos-delay="1200">
        <button type="submit">Sign up</button>
      </div>
    </div>
  </form>
  <!-- signed up -->
  <div *ngIf="received" class="space-grotesk">
    <span *ngIf="formError === ''">Thanks for your interest in Beta Blocks! We’ll reach out soon with details about
      upcoming events you may want to join.</span>
    <span *ngIf="formError !== ''" [innerHtml]="formError"></span>
  </div>


  <div id="end" class="columns column is-full is-multiline">

    <div class="column is-11-mobile is-half-tablet" data-aos="fade-right">
      <p class="space-grotesk-semi">All we ask is that:</p>

      <p class="lunch-med">You’re at least 13 years old;<br />
        You live or work in the City of Boston.</p>

      <p class="lunch-med">NO technical knowledge is required. All you need is enthusiasm and a commitment to the future
        of your community!</p>
    </div>

  </div>

</section>