@import '~src/style/_variables';

p {
    font-family: 'SpaceGrotesk';
    @include pxtoem(18, 24);
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 1px;
}

#explorer {
    
    ::ng-deep img {
        width: 700px;
        max-width: 100%;
    }

}

#exhibit, #partner {
    margin-top: 21%;
}

#exhibit {
    
    @include phones {
        flex-direction: column-reverse;
    }

}

#workshops {

    margin-top: 15%;

    @include phones {
        app-button {
            width: 100%;
        }
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;

        /* @include not-phones {
            margin-top: 5%;
        } */
    }

    .event {

        font-family: 'Lunchtype';
        @include pxtoem(14, 14);

        font-stretch: expanded;
        line-height: 1.29;
        letter-spacing: 2px;

        span {
            color: $rouge;

            display: block;
            padding: 2%;

            &.time,
            &.address {
                border-top: solid 2px $rouge;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            border: solid 2px $rouge;

            @include phones {
                padding-bottom: 0;
            }

            @include desktop {
                padding: 0;
            }
        }

        .description {
            border-top: solid 2px $rouge;
            border-right: solid 2px $rouge;
            border-bottom: solid 2px $rouge;

            @include not-desktop {
                border-top: 0;
                border-left: solid 2px $rouge;

            }

            @include desktop {
                padding: 0;
            }
        }
    }
}