<section class="container desktop">

  <!-- EXPLORER -->
  <div id="explorer" class="no-margin columns is-mobile is-multiline is-11-mobile is-full-tablet">

    <div class="column is-11-mobile is-half-tablet">
      <cdn-image cloudinaryId="img/getinvolved/become" width="700" [responsive]="true" autoFormat="true"
        alt="'Become a Tech Explorer' image"></cdn-image>
    </div>
    <div class="column is-11-mobile is-4-tablet is-offset-1-tablet space-grotesk">
      <p>Experiment with new technologies before they arrive in your neighborhood!</p>

      <app-button route="/tech" label="learn more" class="grape"></app-button>

    </div>

  </div>

  <!-- EXHIBIT -->
  <div id="exhibit" class="no-margin columns is-mobile is-11-mobile is-full-tablet">

    <div class="column is-11-mobile is-4-tablet space-grotesk">
      <p>Our interactive inflatable exhibit features a technology partner with fun activities to consider how you would use that tech.</p>

      <app-button route="/exhibit" label="learn more" class="grape"></app-button>

    </div>
    <div class="column is-11-mobile is-offset-1-tablet">
      <cdn-image cloudinaryId="img/getinvolved/visit" width="700" [responsive]="true" autoFormat="true"
        alt="'Visit Exhibit' image"></cdn-image>
    </div>

  </div>

  <!-- PARTNER -->
  <div id="partner" class="no-margin columns is-mobile is-multiline is-11-mobile is-full-tablet">

    <div class="column is-11-mobile is-half-tablet">
      <cdn-image cloudinaryId="img/getinvolved/partner" width="700" [responsive]="true" autoFormat="true"
        alt="'Become a Tech Partner' image">
      </cdn-image>
    </div>

    <div class="column is-11-mobile is-4-tablet is-offset-1-tablet space-grotesk">
      <p>Apply to have your company’s technology featured in our interactive inflatable exhibit!</p>

      <app-button clickData="true" (clickEvent)="goToForm()" label="sign up" class="grape"></app-button>

    </div>

  </div>

  <!-- WORKSHOPS -->
  <div id="workshops" class="no-margin column columns is-mobile is-multiline is-11-mobile is-11-tablet is-full-desktop" *ngIf="hasContent">
    <h2 class="column is-full">Attend Beta Blocks workshops</h2>

    <div class="event column columns is-multiline is-full" *ngFor="let event of events">
      <p class="column is-full" [innerHtml]="event.name"></p>
      <div class="info no-pad column is-full-mobile is-full-tablet is-3-desktop">
        <span class="date">{{event.date | date:'MM/dd'}}</span>
        <span class="time">{{event.date | date:'hh:mma'}}</span>
        <span class="address" [innerHtml]="event.street"></span>
      </div>

      <div class="description no-pad column is-full-mobile is-full-tablet is-3-desktop">
        <span>
          {{event.description}}
        </span>
      </div>
    <div class="no-pad button column">
      <app-button href="{{event.url}}" label="sign up with\n eventbrite" class="full" [arrow]="true" *ngIf="!isPhone">
      </app-button>
      <app-button href="{{event.url}}" label="sign up with eventbrite" class="full" [arrow]="true" *ngIf="isPhone">
      </app-button>
    </div>
    </div>

  </div>

  <!-- SIGNUP -->
  <h2 id="form">Sign up to become a Tech Partner!</h2>

  <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="userForm" (submit)="submitForm()"
    *ngIf="!received">
    <div class="fields">

      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="firstName" id="firstName" placeholder="first name" required />
        <div *ngIf="submitted && f.firstName.invalid">Required</div>
      </div>

      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="lastName" id="lastName" placeholder="last name" required />
        <div *ngIf="submitted && f.lastName.invalid">Required</div>
      </div>
    </div>

    <div class="fields">
      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="email" id="email" placeholder="email" required />
        <div *ngIf="submitted && f.email.invalid">
          <span *ngIf="f.email.errors.required">Required. </span>
          <span *ngIf="f.email.errors.email">Please enter a valid email address.</span>
        </div>
      </div>

      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="phone" id="phone" placeholder="phone" required />
        <div *ngIf="submitted && f.phone.invalid">
          <span *ngIf="f.phone.errors.required">Required. </span>
          <span *ngIf="f.phone.errors.invalidNumber">Please enter a valid phone number.</span>
        </div>

      </div>
    </div>

    <div class="column is-full">
      <input formControlName="url" id="url" class="full" type="url" placeholder="company website url" required />
      <div *ngIf="submitted && f.url.invalid">
        <span *ngIf="f.url.errors.required">Required. </span>
        <span *ngIf="f.url.errors.pattern">Please enter a valid URL.</span>
      </div>
    </div>

    <div class="column is-full">
      <textarea formControlName="message" id="message" class="full" name="message"
        placeholder="description of technology" rows="3" required></textarea>
      <div *ngIf="submitted && f.message.invalid">Required</div>
    </div>

    <div class="fields">
      <div class="column is-half-tablet"></div>
      <div class="column">
        <button type="submit">Sign up</button>
      </div>
    </div>

  </form>
  <!-- email sent -->
  <div *ngIf="received" class="space-grotesk">
    Thanks for your message! Somebody will be in touch with you shortly!
  </div>

</section>