@import "~src/style/_variables";

#top {

    background-color: $rouge;
    color: white;

    #tagline {
        padding-left: 5%;
    }

}

#right {

    padding-top: 0;
    padding-bottom: 0;

    @include phones {
        padding-left: 0;
    }

    .btn {

        @include pxtoem(24, 48);

        width: 100%;
        height: 200px;

        flex-direction: row;
        text-align: center;

        border: solid 4px $rouge;
        border-top-width: 2px;
        cursor: pointer;

        @include phones {
            height: 100px;
        }

        a {

            height: 100%;
            line-height: 1.21;
            letter-spacing: 2px;
            text-decoration: none;
            color: $rouge;

            background-image: linear-gradient(to bottom, $rouge 1%, #ffffff 1%, #ffffff 100%);
            background-size: 100% 100%;

            @include transition(all, .3s, ease-out);

            svg {
                margin-left: 4%;
            }

            svg path {
                @include transition(all, .3s, ease-out);
            }

            @include phones {
                svg {
                    @include scale(.5);
                }
            }

        }

        &:hover a {
            background-size: 100% 10000%;
            color: white;

            svg path {
                stroke: white;
            }
        }
    }

}

.left {

    @include pxtoem(18, 24);

    line-height: 1.42;
    letter-spacing: 2px;

}

.right {

    p {
        @include pxtoem(14, 18);

        font-stretch: expanded;
        line-height: 1.29;
        letter-spacing: 1px;
    }

}

.lunch-reg {
    @include pxtoem(12, 14);

    line-height: 1.29;
}

#explorer {

    #steps {

        margin-top: 7.5%;
        justify-content: space-between;

        .column {
            text-align: center;

            width: 28%;

            line-height: 1.33;
            letter-spacing: 2px;

            @include phones {
                width: 50%;
            }

            @include tablet-portrait {
                width: 45%;
            }

            &.space-grotesk-semi {
                @include pxtoem(18, 24);

                line-height: 1.42;
                letter-spacing: 2px;
                color: $rouge;
            }
        }

        h5 {
            @include pxtoem(18, 24);
            font-weight: 600;
            line-height: 1.42;
            letter-spacing: 2px;
            font-stretch: expanded;
            color: $grape;

        }

        p {
            text-align: left;

            @include pxtoem(14, 18);
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: 2px;
        span {
            font-size: .8em;
            text-align: left;
            letter-spacing: normal;
        }
        }

        strong {
            font-family: 'VG5000';
            @include pxtoem(48, 72);

            letter-spacing: 2px;
            color: $rouge;
        }

    }
}

#end {
    p {
        &:nth-child(1) {
            @include pxtoem(18, 24);
            font-stretch: expanded;
            line-height: 1.29;
            letter-spacing: 2px;
        }

        &:nth-child(2) {
            @include pxtoem(12, 14);
            line-height: 1.42;
        }

        &:nth-child(3) {
            @include pxtoem(14, 18);
            line-height: 1.33;
        }
    }

    .column:nth-child(2) {
        @include pxtoem(18, 24);
        color: $grape;

        line-height: 1.42;
        letter-spacing: 2px;
        text-align: center;
    }
}


label {

    position: relative;
    justify-content: left;
    margin-bottom: 12px;

    @include pxtoem(18, 36);

    &:hover input~.checkmark {
        background-color: white;
    }

    #age, #zone, #explorer, #tours {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        margin: 0;

        &:checked~.checkmark {
            background-color: white;

            &:after {
                display: block;
            }
        }

        @include phones {
            padding-left: 0;
        }
    }

    .checkmark {
        display: inline-block;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        padding: 15px;

        background-color: $grape;
        border: solid 3px $grape;

        margin-right: 1%;

        &:after {
            content: "";
            position: absolute;
            display: none;

            top: 7px;
            left: 22px;
            width: 15px;
            height: 31px;

            border: solid $grape;
            border-width: 0 4px 4px 0;

            @include rotate(45);
        }
    }
}