@import "~src/style/_variables";

nav {
    position: relative;
    margin-bottom: 3% !important;
    z-index: 4;

    @include mobile-only {
    }
}

#menu-btn {

    display: flex;
    justify-content: flex-end;

    font-family: Overpass;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.3px;
    cursor: pointer;

    #lines {
        display: flex;
        position: relative;
        flex-direction: column;
        
        top: 9px;

        span {
            display: block;
            height: 2px;
            width: 50px;
            background: black;
            opacity: 1;
            left: 0;

            @include transform(rotate(0deg));
            @include transition(all, .7s, ease-in-out);

            &:nth-child(2) {
                position: relative;
                top: 22px;
            }

        }

    }

    #label {
        display: flex;
        justify-content: center;
        font-family: 'SpaceGrotesk-Bold';

        .open {
            position: absolute;
        }

        .close {
            opacity: 0;
        }
    }

    &.open {

        #lines {
            span {
                &:nth-child(1) {
                    @include transform(rotate(155deg) translate(5px, -10px));
                                }

                &:nth-child(2) {
                    @include transform(rotate(-155deg) translate(6px, 10px));
                }
            }
        }

    }
}