@import "~src/style/_variables";

@keyframes show {
    0%     {background-color: rgba(64, 43, 89, 0);}
    100%  {background-color: rgba(64, 43, 89, 0.9);}
}
@keyframes hide {
    0%     {background-color: rgba(64, 43, 89, 0.9);}
    100%  {background-color: rgba(64, 43, 89, 0);}
}
@keyframes show-links {
    0%     {opacity: 0;}
    100%  {opacity: 1;}
}
@keyframes show-close {
    0%     {opacity: 0;}
    100%  {opacity: 1;}
}


nav {
    position: relative;
    margin-bottom: 3% !important;
    z-index: 4;

    display: flex;
    justify-content: space-between;

    padding: 0.75rem;
    max-width: 100%;
}

#menu-btn {

    display: flex;
    justify-content: flex-end;

    font-family: Overpass;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.3px;
    cursor: pointer;

    #lines {
        display: flex;
        position: relative;
        flex-direction: column;
        
        top: 9px;

        span {
            display: block;
            height: 2px;
            width: 50px;
            background: black;
            opacity: 1;
            left: 0;

            @include transform(rotate(0deg));
            @include transition(all, .7s, ease-in-out);

            &:nth-child(2) {
                position: relative;
                top: 22px;
            }

        }

    }

    #label {
        display: flex;
        justify-content: center;
        font-family: 'SpaceGrotesk-Bold';

        margin-left: 20%;
    }
}

#menu {
    display: none;

    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    animation: hide 1s forwards;

    &.show {
        display: flex;
        animation: show 1s forwards;

        #links {
            animation: show-links .7s forwards .7s;
        }
        #close {
            animation: show-close .7s forwards .8s;
        }
    }
    &.hide {
        display: flex;
        animation: hide 1s forwards;
    }

    #links {

        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $light-pink;
        flex: none;

        padding-left: 5%;
        padding-top: 3%;

        
        @include phones {
            width: 70%;
        }
        @include not-phones {
            width: 50%;
        }
        
        a.link {
            
            display: block;
            color: black;
            text-decoration: none;
            
            font-family: 'VG5000';
            @include pxtoem(24, 48);
            
            line-height: 1;
            letter-spacing: 2.3px;
            
            padding-top: 6%;
            padding-bottom: 6%;
            
            border: none;
            
            @include tablet-portrait {
                @include pxtoem(28, 28);
            }
            
            &.active {
                color: rgba(0, 0, 0, 0.5);
            }
        
        }

        #info {
            position: absolute;
            display: flex;
            flex-direction: column;

            color: black;
            background-color: $marigold;

            bottom: 0;
            left: 0;

            padding-left: 5%;
            padding-top: 5%;

            font-family: 'LunchtypeMed';
            font-weight: 500;
            font-stretch: expanded;
            line-height: 1.17;
            letter-spacing: 1px;
            
            @include pxtoem(12, 18);

            #social {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
                padding: 5%;
                padding-left: 0;
            }

            @include mq($from: mobileLg) {
                @include pxtoem(14, 18);
            }

            @include phones {
                width: 70%;
            }
            @include not-phones {
                width: 50%;
            }
            @include desktop {
                flex-direction: row;

                padding-top: 2%;
                padding-bottom: 2%;

                #social {
                    flex-grow: 1;
                    padding: 0;
                    align-items: center;
                }
            }

        }
    }

    #close {

        opacity: 0;

        display: flex;
        flex-grow: 1;

        justify-content: center;
        align-items: center;

        svg {
            width: 80%;
        }

    }
}