@import '~src/style/_variables';

@include keyframes(hide) {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@include keyframes(show) {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#blurb {
    background-color: $light-pink;

    @include pxtoem(12, 14);
    font-family: Lunchtype;
    font-stretch: expanded;

    line-height: 1.29;
    letter-spacing: 1px;

    @include not-phones {
        padding: 0;
    }

    .text {
        padding: 5%;
    }

    #link {
        padding: 0;
        background-color: white;
    }

    strong {
        @include pxtoem(14, 18);
        font-family: 'LunchtypeMed';
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    a {
        display: flex;
        @include pxtoem(18, 24);
        background-color: white;
        text-decoration: none;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: 1px;

        color: black;
        border-left: solid 1px $light-pink;

        background-image: linear-gradient(to right, $light-pink 1%, #ffffff 1%, #ffffff 100%);
        background-size: 100% 100%;

        @include transition(all, .3s, ease-out);

        span {
            padding: 5%;
            border: solid 4px $light-pink;
            display: flex;
            align-items: center;
        }

        div {

            padding: 5%;
            border: solid 4px $light-pink;
            flex-grow: 1;
        }

        svg path {
            @include transition(all, .3s, ease-out);
        }

        @include phones {
            svg {
                @include scale(.5);
            }
        }

        &:hover {
            background-size: 10000% 100%;

            svg path {
                stroke: white;
            }
        }
    }
}

#shapes {
    #red {
        ::ng-deep img {
            position: relative;
            right: -80%
        }
    }

    #circle {
        position: relative;
        z-index: -1;
        @include translate(450%, -309%);
    }

    #gold {
        ::ng-deep img {
            @include translate(-190%, 40%);
            margin-top: -15%;
        }
    }

    #squiggle {
        @include translate(400%, 270%);
        z-index: 1;
    }

    @include phones {
        #red {
            ::ng-deep img {
                right: -40%
            }
        }

        #circle {
            @include translate(150%, -200%);
        }

        #gold {
            ::ng-deep img {
                @include translate(-190%, 40%);
                margin-top: -15%;
            }
        }

        #squiggle {
            position: relative;
            max-width: 103px;
            z-index: -1;
            @include translate(191%, 81%);
        }
    }

    @include not-desktop {
        #squiggle {
            position: relative;
            z-index: -1;
            @include translate(100%, 170%);
        }
    }
}

#cone {
    ::ng-deep img {
        position: relative;
        right: -30%;

        margin-top: 4%;
        margin-bottom: 4%;
    }
}

#people {

    .column {

        &:nth-child(1) {
            background-color: $marigold;

            @include pxtoem(18, 24);
            line-height: 1.17;
            letter-spacing: 1px;

            padding: 2%;

            p {
                display: inline-block;
                cursor: pointer;

                span {
                    color: rgba(0, 0, 0, 0.5);
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            border: solid 4px $marigold;
            padding: 2%;

            .name {

                @include pxtoem(18, 24);
                line-height: 1.17;
                letter-spacing: 1px;

                span {
                    color: rgba(0, 0, 0, 0.5);
                }
                
                animation: show .5s forwards;
                &.change {
                    animation: hide .5s forwards;
                }
            }

            .text {

                @include pxtoem(14, 18);
                font-stretch: expanded;
                font-weight: 500;
                line-height: 1.5;
                
                animation: show .5s forwards;
                &.change {
                    animation: hide .5s forwards;
                }

                ::ng-deep a,
                a:visited {
                    color: black;
                }
            }
        }
    }
}