@import '~src/style/_variables';

@include keyframes(hide) {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@include keyframes(show) {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cone {
    display: inline-block;
    ::ng-deep img {
        position: relative;

        margin-top: 4%;
        margin-bottom: 4%;
        
        @include phones {
            @include translate(-200%, 100%);
            margin: 0;
        }
    }
}

#squiggle {
    display: inline-block;
    @include translate(550%, -5%);
    z-index: 1;

    @include phones {
        @include transform(translate(150%, 20%) scale(0.6));
    }
}
    
#people {

    .column {

        &:nth-child(1) {
            background-color: $marigold;

            @include pxtoem(18, 24);
            line-height: 1.17;
            letter-spacing: 1px;

            padding: 2%;

            p {
                display: inline-block;
                cursor: pointer;

                span {
                    color: rgba(0, 0, 0, 0.5);
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            border: solid 4px $marigold;
            padding: 2%;

            .name {

                @include pxtoem(18, 24);
                line-height: 1.17;
                letter-spacing: 1px;

                span {
                    color: rgba(0, 0, 0, 0.5);
                }
                
                animation: show .5s forwards;
                &.change {
                    animation: hide .5s forwards;
                }
            }

            .text {

                @include pxtoem(14, 18);
                font-stretch: expanded;
                font-weight: 500;
                line-height: 1.5;
                
                animation: show .5s forwards;
                &.change {
                    animation: hide .5s forwards;
                }

                ::ng-deep a,
                a:visited {
                    color: black;
                }
            }
        }
    }
}