<section class="container desktop">

  <h2>About Beta Blocks</h2>

  <!-- BLURB -->
  <div id="blurb" class="bleed columns column is-full">

    <div class="column is-11-mobile is-half-tablet">
      <div class="text">
        <strong>Just think about these things in your mind and drop em' on canvas. Get tough with it, get strong. A big
          strong tree needs big strong roots.</strong>
        <p>We'll put a happy little bush here. It's almost like something out of a fairytale book. Let your imagination
          be your guide. This is probably the greatest thing that's ever happened in my life. Let's get crazy.
          Exercising the imagination, experimenting with talents, being creative; these things, to me, are truly the
          windows to your soul.

          Put it in, leave it alone. I thought today we would make a happy little stream that's just running through the
          woods here. Think about a cloud. Just float around and be there. I think there's an artist hidden in the
          bottom of every single one of us. I'm going to mix up a little color. We’ll use Van Dyke Brown, Permanent Red,
          and a little bit of Prussian Blue.</p>
      </div>
    </div>

    <div id="link" class="column is-full-mobile space-grotesk">
      <a id="boston.gov" href="https://www.boston.gov/departments/new-urban-mechanics/beta-blocks">
        <span>Visit the Boston.gov Beta Blocks site</span>
        <div>
          <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
            <path stroke="#ffd7ed" stroke-width="4" d="M53.084 1.416L106.17 54.5l-53.085 53.084M0 54.5h106.103" />
          </svg></div>
      </a>

    </div>

  </div>

  <div id="shapes">
    <svg id="circle" width="58" height="58" fill="none" viewBox="0 0 58 58">
      <path stroke="#402B59" stroke-miterlimit="10" stroke-width="6"
        d="M29 55c14.36 0 26-11.64 26-26S43.36 3 29 3 3 14.64 3 29s11.64 26 26 26z" />
    </svg>

    <cdn-image id="red" cloudinaryId="img/about/red" width="200" phoneWidth="135" autoFormat="false" svg="false"
      [responsive]="false">
    </cdn-image>
    <!-- <cdn-image id="gold" cloudinaryId="img/about/gold" width="85" autoFormat="false" svg="false" [responsive]="false"
      *ngIf="isPhone">
    </cdn-image>

    <svg id="squiggle" width="168" height="88" fill="none" viewBox="0 0 168 88">
      <path stroke="#FFD7ED" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"
        d="M161.975 6.025c-14.895 8.755-21.843-3.001-36.737 5.753-14.895 8.755-8.003 20.35-22.897 29.104-14.895 8.755-21.843-3-36.737 5.754-14.895 8.754-8.002 20.35-22.897 29.104-14.895 8.754-21.787-2.841-36.682 5.913" />
    </svg> -->

  </div>

  <h2>People Involved</h2>

  <!-- PEOPLE INVOLVED -->
  <div id="people" class="columns column is-full-mobile is-full-tablet" *ngIf="peopleLoaded">

    <div class="space-grotesk-semi column is-full-mobile">
      <p (click)="getPerson(i)" *ngFor="let person of people; let i = index;">{{person.name.first}} {{person.name.last}}<span> / {{person.title}}</span></p>
    </div>
    <div class="column is-full-mobile is-half-tablet">
      <!-- <cdn-image cloudinaryId="img/about/gold" width="136" autoFormat="false" svg="false" [responsive]="false"
        *ngIf="!isPhone">
      </cdn-image> -->
      <div class="space-grotesk-semi name">{{selectedName}} <span>/ {{selectedTitle}}</span></div>
      <div class="lunch-med text" [innerHtml]="selectedBio"></div>
    </div>

  </div>

  <cdn-image id="cone" cloudinaryId="img/about/cone" width="83" phoneWidth="54" autoFormat="false" svg="false"
  [responsive]="false"></cdn-image>

  <!-- CONTACT -->
  <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="userForm" (submit)="submitForm()" *ngIf="!received">
    <div class="column is-full-mobile is-6-tablet">
      <input formControlName="name" id="name" placeholder="Your name" required />
      <div *ngIf="submitted && f.name.invalid">Required</div>
    </div>
    
    <div class="column is-full-mobile">
      <input formControlName="email" id="email" placeholder="Your email" required />
      <div *ngIf="submitted && f.email.invalid">
        <span *ngIf="f.email.errors.required">Required. </span>
        <span *ngIf="f.email.errors.email">Please enter a valid email address.</span>
        </div>            
    </div>
    <div class="column is-full-mobile is-11-tablet is-full-desktop">
      <textarea formControlName="message" id="message" name="message" placeholder="Enter your message here"
      required></textarea>
      <div *ngIf="submitted && f.message.invalid">Required</div>
    </div>
    <div class="column is-full-mobile is-11-tablet is-full-desktop">

      <button type="submit">Submit</button>
    </div>
  </form>
  <!-- email sent -->
  <div *ngIf="received" class="space-grotesk">
    Thanks for your message! Somebody will be in touch with you shortly!
  </div>

</section>