<section class="container desktop">

  <h2 data-aos="fade">About Beta Blocks</h2>

  <div id="tagline" class="column is-11-mobile is-8-desktop" data-aos="fade-up" data-aos-offset="100">
    <p>A collaboration between the City of Boston Mayor’s Office of New Urban Mechanics, the Engagement Lab @ Emerson College, and Supernormal, funded by the Knight Foundation.
    </p>
  </div>

  <h2 data-aos="fade">Team</h2>

  <!-- PEOPLE INVOLVED/TEAM -->
  <div id="people" class="columns column is-full-mobile is-full-tablet" *ngIf="hasContent">

    <div class="space-grotesk-semi column" data-aos="fade-right">
      <p (click)="getPerson(i)" [class.active]="i === 0" *ngFor="let person of people; let i = index;">
        {{person.name.first}} {{person.name.last}}<span> / {{person.title}}</span></p>
    </div>
    <div id="bio" class="column is-5-tablet" data-aos="fade-up">
      <div class="space-grotesk-semi name">{{selectedName}} <span>{{selectedTitle}}</span></div>
      <div class="lunch-med text" [innerHtml]="selectedBio"></div>
    </div>

  </div>

  <div id="squiggle" data-aos="squiggle" data-aos-delay="1500">
    <svg width="168" height="88" fill="none" viewBox="0 0 168 88">
      <path stroke="#FFD7ED" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"
        d="M161.975 6.025c-14.895 8.755-21.843-3.001-36.737 5.753-14.895 8.755-8.003 20.35-22.897 29.104-14.895 8.755-21.843-3-36.737 5.754-14.895 8.754-8.002 20.35-22.897 29.104-14.895 8.754-21.787-2.841-36.682 5.913" />
    </svg>
  </div>
  <cdn-image id="cone" cloudinaryId="img/about/cone" width="83" phoneWidth="54" autoFormat="false" svg="false"
    [responsive]="false" data-aos="cone" data-aos-delay="1000"></cdn-image>

  <h2 data-aos="fade">Contact Us</h2>

  <!-- CONTACT -->
  <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="userForm" (submit)="submitForm()"
    *ngIf="!received">
    <div class="fields">

      <div class="column is-full-mobile is-half-tablet" data-aos="fade-up" data-aos-delay="500">
        <input formControlName="name" id="name" placeholder="name" required />
        <div *ngIf="submitted && f.name.invalid">Required.</div>
      </div>

      <div class="column is-full-mobile is-half-tablet" data-aos="fade-up" data-aos-delay="1000">
        <input formControlName="email" id="email" placeholder="email" required />
        <div *ngIf="submitted && f.email.invalid">
          <span *ngIf="f.email.errors.required">Required.</span>
          <span *ngIf="f.email.errors.email">Please enter a valid email address.</span>
        </div>
      </div>
    </div>
    <div class="column is-full-mobile is-full" data-aos="fade-up" data-aos-delay="1500">
      <textarea formControlName="message" id="message" name="message" placeholder="message" class="full"
        required></textarea>
      <div *ngIf="submitted && f.message.invalid">Required.</div>
    </div>
    <div class="column is-full-mobile is-5-tablet" data-aos="fade-up" data-aos-delay="1500">
      <button type="submit">Submit</button>
    </div>
    <div class="center-all column">
      <cdn-image cloudinaryId="img/about/gold" width="136" phoneWidth="79" autoFormat="false" svg="false"
        [responsive]="false" data-aos="fade-left" data-aos-delay="2000">
      </cdn-image>
    </div>
  </form>
  <!-- email sent -->
  <div *ngIf="received" class="space-grotesk">
    Thanks for your message! Somebody will be in touch with you shortly!
  </div>

</section>