<section class="container desktop">

  <h2 data-aos="fade">Exhibit</h2>

</section>

<div class="column is-full" data-aos="fade" data-aos-delay="500">

  <cdn-image cloudinaryId="img/exhibit/blob" width="1280" [responsive]="true" autoFormat="true" alt="Image of 'Beta Blob'">
  </cdn-image>

</div>

<section class="container desktop" id="offset" *ngIf="hasContent">

  <h2 data-aos="fade">Activity Overview</h2>

  <div id="info">

    <ul>
      <li class="active" (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">See</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="text columns column is-11-mobile">
          <div class="column" [innerHtml]="info.see[0]"></div>
          <div class="space-grotesk-semi column" [innerHtml]="info.see[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Explore</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="text columns column is-11-mobile">
          <div class="column" [innerHtml]="info.explore[0]"></div>
          <div class="space-grotesk-semi column" [innerHtml]="info.explore[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Reflect</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="text columns column is-11-mobile">
          <div class="column" [innerHtml]="info.reflect[0]"></div>
          <div class="space-grotesk-semi column" [innerHtml]="info.reflect[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Gather</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="text columns column is-11-mobile">
          <div class="column" [innerHtml]="info.gather[0]"></div>
          <div class="space-grotesk-semi column" [innerHtml]="info.gather[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Tinker</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="text columns column is-11-mobile">
          <div class="column" [innerHtml]="info.tinker[0]"></div>
          <div class="space-grotesk-semi column" [innerHtml]="info.tinker[1]"></div>
        </div>
      </li>
    </ul>

  </div>

</section>