<section class="container desktop">

  <h2 data-aos="fade">Exhibit Location</h2>

</section>

<div id="map" class="column is-full" data-aos="fade" data-aos-delay="500">

</div>

<section class="container desktop" id="offset" *ngIf="hasContent">

  <!-- LOCATION -->
  <div id="location" class="columns column is-full" *ngIf="currentEvent || nextEvent">

    <div class="column is-half-tablet" data-aos="fade-right">
      <div class="text">

        <h2 class="lower space-grotesk-semi" *ngIf="currentEvent !== undefined">The exhibit is now in . . .</h2>
        <h2 class="lower space-grotesk-semi" *ngIf="nextEvent && !currentEvent">The exhibit will soon be in . . .</h2>

        <svg height="80" fill="none" viewBox="0 0 400 80" preserveAspectRatio="xMinYMin meet">
          <text x="0" y="98%" *ngIf="currentEvent !== undefined">{{currentEvent.name}}</text>
          <text x="0" y="98%" *ngIf="nextEvent && !currentEvent">{{nextEvent.name}}</text>
        </svg>
        <p *ngIf="currentEvent !== undefined" class="space-grotesk">{{currentEvent.startDate | date:'MM/dd'}} -
          {{currentEvent.displayEndDate | date:'MM/dd'}}<br />
          {{currentEvent.address}}
        </p>
        <p *ngIf="nextEvent && !currentEvent" class="space-grotesk">{{nextEvent.startDate | date:'MM/dd'}} -
          {{nextEvent.displayEndDate | date:'MM/dd'}}<br />
          {{nextEvent.address}}
        </p>
      </div>
    </div>

    <div class="column" *ngIf="currentEvent !== undefined">
      <p data-aos="fade-up">{{currentEvent.description}}</p>

    </div>
    <div class="column" *ngIf="nextEvent !== undefined && !currentEvent">
      <p data-aos="fade-up">{{nextEvent.description}}</p>
    </div>

  </div>

  <h2 data-aos="fade">Activity Overview</h2>

  <div id="info">

    <ul>
      <li class="active" (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">See</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="columns column is-11-mobile">
          <div class="column" [innerHtml]="info.see[0]"></div>
          <div class="column" [innerHtml]="info.see[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Explore</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="columns column is-11-mobile">
          <div class="column" [innerHtml]="info.explore[0]"></div>
          <div class="column" [innerHtml]="info.explore[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Reflect</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="columns column is-11-mobile">
          <div class="column" [innerHtml]="info.reflect[0]"></div>
          <div class="column" [innerHtml]="info.reflect[1]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Gather</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="columns column is-11-mobile">
          <div class="column" [innerHtml]="info.gather[1]"></div>
          <div class="column" [innerHtml]="info.gather[0]"></div>
        </div>
      </li>
      <li (click)="toggleInfo($event)" data-aos="fade-up">
        <h4 class="columns is-mobile">
          <span class="column is-9-mobile is-10-tablet">Tinker</span>
          <span class="column icon">
            <svg width="40" height="40" fill="none" viewBox="0 0 40 40">
              <line class="" x1="0" x2="40" y1="20" y2="20" />
              <line class="vert" x1="20" x2="20" y1="0" y2="40" />
            </svg>
          </span>
        </h4>
        <div class="columns column is-11-mobile">
          <div class="column" [innerHtml]="info.tinker[1]"></div>
          <div class="column" [innerHtml]="info.tinker[0]"></div>
        </div>
      </li>
    </ul>

  </div>

  <h2 data-aos="fade">Visit Exhibit</h2>

  <div id="events" class="columns column is-mobile is-multiline is-centered" *ngIf="events !== undefined">

    <div class="columns column is-11-mobile is-3-tablet is-mobile" *ngFor="let event of events; let i = index;">

      <div class="column event" data-aos="fade-right" [attr.data-aos-delay]="(i*300)">

        <svg width="36" height="45" fill="none" viewBox="0 0 36 45">
          <path stroke-miterlimit="10" stroke-width="4"
            d="M34 18c0 8.8-16 24-16 24S2 26.8 2 18 9.2 2 18 2s16 7.2 16 16z" />
          <path stroke-miterlimit="10" stroke-width="4" d="M18 22a5 5 0 1 0 0-10 5 5 0 0 0 0 10z" />
        </svg>

        <br />

        <div class="info" [class.current]="event.current" *ngIf="!event.endDate2">
          <strong>{{event.name}}</strong>

          <div>
            <p class="day">{{event.startDate | date:'MM/dd'}}</p>
            <span>{{event.startDate | date:'hh:mma'}} &#8212; {{event.endDate | date:'hh:mma'}}<br />
              {{event.address}}</span>
          </div>
        </div>
        <div class="info" [class.current]="event.current" *ngIf="event.endDate2">
          <strong>{{event.name}}</strong>

          <div>
            <p class="day">{{event.startDate | date:'MM/dd'}}</p>
            <span>{{event.startDate | date:'hh:mma'}} &#8212; {{event.endDate | date:'hh:mma'}}<br />
              {{event.address}}</span>
          </div>
          <div>
            <p class="day">{{event.startDate2 | date:'MM/dd'}}</p>
            <span>{{event.startDate2 | date:'hh:mma'}} &#8212; {{event.endDate2 | date:'hh:mma'}}<br />
              {{event.address}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>