@import '~src/style/_variables';


#map {

    position: relative;
    z-index: -1;
    min-height: 720px;

    background-image: cdn-image('img/exhibit/map', c_fill, f_auto, w_1440);
    background-size: cover;
    
    @include phones {
        background-image: cdn-image('img/exhibit/map_mobile', c_fill, f_auto, w_320);
    }

}

#offset {
    margin-top: -8%;
}

#location {

    margin-bottom: 9%;

    .column {
        &:nth-child(1) {
            background-color: $rouge;
            color: white;

            padding: 2%;

            h2 {
                line-height: 1.42;
                letter-spacing: 2px;
                text-align: left;
                padding: 0;
            }

            svg text {
                @include pxtoem(48, 72);
                fill: none;
                stroke-width: 2px;
                paint-order: stroke;
                stroke: white;
            }

            p {
                font-family: 'SpaceGrotesk-Bold';

                @include pxtoem(18, 30);
                line-height: 1.4;
                letter-spacing: 6px;

                text-transform: uppercase;
            }
        }

        &:nth-child(2) {
            @include pxtoem(14, 18);

            font-family: 'LunchtypeMed';
            font-stretch: expanded;
            line-height: 1.5;

            border: solid 4px $rouge;

            @include not-phones {
                margin-top: 10%;
            }
        }
    }

}

#info {

    font-family: Lunchtype;
    @include pxtoem(12, 14);

    font-weight: 500;
    font-stretch: expanded;

    line-height: 1.29;
    letter-spacing: 2px;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;

        h4 {
            margin: 0;
            color: white;

            font-family: 'VG5000';
            font-weight: normal;
            padding: 2% 1% 2%;

            cursor: pointer;

            svg {
                line {
                    stroke: white;
                    stroke-width: 4;
                    transform-origin: center center;
                    @include transition(all, 500ms, ease-in-out);

                    &.vert {
                        @include transform(scale(1, 0));
                    }
                }
            }
        }

        li {
            list-style: none;

            div.columns {
                max-height: 0;
                overflow: hidden;
                color: black;
                @include transition(max-height, 500ms, ease-out);

                ::ng-deep strong {
                    font-family: 'SpaceGrotesk-SemiBold';
                    text-transform: uppercase;

                    @include pxtoem(18, 30);
                }

                .space-grotesk-semi {
                    @include pxtoem(18, 24);
                    ::ng-deep p {
                        width: 80%;
                    }
                }

                &.text {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .icon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            &:not(.active) {
                &:nth-child(1) h4 {
                    background-color: $grape;
                }

                &:nth-child(2) h4 {
                    background-color: $light-pink;
                    color: black;

                    svg line {
                        stroke: black;
                    }
                }

                &:nth-child(3) h4 {
                    background-color: $marigold;
                    color: black;

                    svg line {
                        stroke: black;
                    }
                }

                &:nth-child(4) h4 {
                    background-color: $rouge;
                }

                &:nth-child(5) h4 {
                    background-color: $grape;
                }
            }
        }

        li.active {
            border: solid 4px black;

            h4 {
                cursor: default;
                background-color: white;
                color: black;

                svg {
                    line {
                        stroke: black;
                    }

                    .vert {
                        @include transform(scale(1, 1));
                    }
                }
            }

            div.columns {
                max-height: 1000px;
            }
        }
    }

}

#events {

    font-family: LunchtypeMed;
    @include pxtoem(14, 14);
    font-stretch: expanded;
    line-height: 1.5;
    letter-spacing: 1px;

    justify-content: space-evenly;

    .event {

        display: flex;
        flex-direction: column;

        margin-left: 2%;
        padding: 0;

        svg {
            align-self: center;
            margin-bottom: 5%;
        }

        strong {

            display: block;
            font-family: SpaceGrotesk;
            @include pxtoem(18, 24);

            padding: 4% 0 4% 0;

            font-weight: 600;
            line-height: 1.17;

            border-bottom: solid 3px white;

        }

        .info {
            text-align: center;
            padding-bottom: 5%;

            div {
                padding-left: 10%;
                padding-right: 10%;

                .day {
                    @include pxtoem (14, 18);
                    font-family: 'LunchtypeMed';
                    margin-bottom: 0;
                }
            }

            span {
                display: block;
            }
        }
    }

    .columns {
        &:nth-child(3n+1) {
            svg path {
                stroke: $rouge;
            }

            .info {
                border: solid 4px $rouge;

                &.current {
                    background-color: $rouge;
                    color: white;
                    border: none;
                }
            }
        }

        &:nth-child(3n+2) {
            svg path {
                stroke: $marigold;
            }
            .info {
                border: solid 4px $marigold;

                &.current {
                    background-color: $marigold;
                    color: black;
                    border: none;
                }
            }
        }

        &:nth-child(3n+3) {
            svg path {
                stroke: $light-pink;
            }   stroke: $marigold;
        }
        .info {
            border: solid 4px $light-pink;

            &.current {
                background-color: $light-pink;
                color: black;
                border: none;
            }
        }
    }

}