@import '~src/style/_variables';

#info {

    font-family: Lunchtype;
    @include pxtoem(12, 14);

    font-weight: 500;
    font-stretch: expanded;

    line-height: 1.29;
    letter-spacing: 2px;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;

        h4 {
            margin: 0;
            color: white;

            font-family: 'VG5000';
            font-weight: normal;
            padding: 2% 1% 2%;

            cursor: pointer;

            svg {
                line {
                    stroke: white;
                    stroke-width: 4;
                    transform-origin: center center;
                    @include transition(all, 500ms, ease-in-out);

                    &.vert {
                        @include transform(scale(1, 0));
                    }
                }
            }
        }

        li {
            list-style: none;

            div.columns {
                max-height: 0;
                overflow: hidden;
                color: black;
                @include transition(max-height, 500ms, ease-out);

                ::ng-deep strong {
                    font-family: 'SpaceGrotesk-SemiBold';
                    text-transform: uppercase;

                    @include pxtoem(18, 30);
                }

                .space-grotesk-semi {
                    @include pxtoem(18, 24);
                    ::ng-deep p {
                        width: 80%;
                    }
                }

                &.text {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .icon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            &:not(.active) {
                &:nth-child(1) h4 {
                    background-color: $grape;
                }

                &:nth-child(2) h4 {
                    background-color: $light-pink;
                    color: black;

                    svg line {
                        stroke: black;
                    }
                }

                &:nth-child(3) h4 {
                    background-color: $marigold;
                    color: black;

                    svg line {
                        stroke: black;
                    }
                }

                &:nth-child(4) h4 {
                    background-color: $rouge;
                }

                &:nth-child(5) h4 {
                    background-color: $grape;
                }
            }
        }

        li.active {
            border: solid 4px black;

            h4 {
                cursor: default;
                background-color: white;
                color: black;

                svg {
                    line {
                        stroke: black;
                    }

                    .vert {
                        @include transform(scale(1, 1));
                    }
                }
            }

            div.columns {
                max-height: 1000px;
            }
        }
    }

}
