<section class="container desktop">

  <!-- BECOMING A TECH EXPLORER -->
  <h2>Becoming a Tech Explorer</h2>

  <div class="columns" id="top">
    <div class="center-all column is-7" id="tagline">
      Tech Explorers are key partners in Beta Blocks.
    </div>

    <div class="center-all column is-full-mobile" id="right">

      <div class="arrow btn space-grotesk-semi">
        <a (click)="goToForm()" class="center-all">
          <div>Sign up</div>
          <svg width="110" height="110" fill="none" viewBox="0 0 110 110">
            <path stroke="#B5191D" stroke-width="4" d="M107.584 53.084L54.5 106.17 1.416 53.084M54.5 0v106.103" />
          </svg>
        </a>
      </div>

    </div>
  </div>

  <div id="explorer" class="columns column is-full is-multiline">

    <div class="left column is-11-mobile is-5-tablet space-grotesk-semi">
      Communities know their blocks inside out. Becoming a Tech Explorer gives you the chance to try smart tech before
      it hits the streets and share your ideas for how it could work for Boston.
    </div>
    <div class="lunch-reg column is-full-mobile is-offset-1-tablet">
      This is your chance to turn your ideas for using and improving tech into real experiments. As at Tech Explorer,
      you’ll also learn lots of new things and have the chance to shape the future of Boston’s streets.
      <br />
      <br />
    </div>

    <h5 class="lunch-reg column is-full center-all">Find out more about Tech Explorers below.</h5>

    <div id="steps" class="columns column is-full is-mobile is-multiline">
      <div class="column is-4-tablet" *ngFor="let txt of stepTxt; let i = index;">
        <h2>STEP</h2>
        <strong>{{i+1}}</strong>
        <br />

        <svg width="98" height="14" fill="none" viewBox="0 0 98 14">
          <path stroke="#FCBD0B" stroke-linecap="round" stroke-miterlimit="10" stroke-width="6"
            d="M94.971 10.24c-9.194 0-9.194-7.211-18.388-7.211-9.195 0-9.195 7.21-18.389 7.21C49 10.24 49 3.03 39.806 3.03s-9.194 7.21-18.389 7.21c-9.194 0-9.194-7.21-18.388-7.21" />
        </svg>
        <p class="lunch-med">{{txt}}</p>
      </div>
      <div class="column is-4-tablet space-grotesk-semi center-all">
      </div>
    </div>

  </div>

  <!-- SIGNUP -->
  <h2 id="form">Sign up to become a Tech Explorer!</h2>

  <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="userForm" (submit)="submitForm()"
    *ngIf="!received">

    <div class="fields">

      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="firstName" id="firstName" placeholder="first name" required />
        <div *ngIf="submitted && f.firstName.invalid">Required.</div>
      </div>

      <div class="column is-full-mobile is-half-tablet">
        <input formControlName="lastName" id="lastName" placeholder="last name" required />
        <div *ngIf="submitted && f.lastName.invalid">Required.</div>
      </div>
    </div>

    <div class="column is-full">
      <input formControlName="email" id="email" placeholder="email" class="full" required />
      <div *ngIf="submitted && f.email.invalid">
        <span *ngIf="f.email.errors.required">Required.</span>
        <span *ngIf="f.email.errors.email">Please enter a valid email address.</span>
      </div>
    </div>

    <div class="fields">
      <div class="column is-half-tablet">
        <p>{{formError}}</p>
      </div>
      <div class="column">
        <button type="submit">Sign up</button>
      </div>
    </div>
  </form>
  <!-- signed up -->
  <div *ngIf="received" class="space-grotesk">
    <span *ngIf="formError === ''">Thanks for signing up! You will receive an email shortly with further
      information!</span>
    <span *ngIf="formError !== ''" [innerHtml]="formError"></span>
  </div>


  <div id="end" class="columns column is-full is-multiline">

    <div class="column is-11-mobile is-half-tablet">
      <p class="space-grotesk-semi">All we ask is that:</p>

      <p class="lunch-med">You’re at least 12 years old;<br />
        You live or work in the City of Boston;<br />
        You can commit to six hours’ worth of workshops and meet ups between [month 1-month 2].</p>

      <p class="lunch-med">We don’t require any technical or coding knowledge to take part. All we ask for is your
        enthusiasm and commitment!</p>
    </div>
    <div class="space-grotesk-semi center-all column is-full-mobile is-offset-1-tablet">
      If you come to all of the meet ups and workshops, we will reward your hard work with $100.
    </div>

  </div>

</section>